
th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    background-color: white;
}
#music-table {
    border: 1px solid black;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
